---
import Burger from "src/components/navigation/Burger.astro";
import Links from "src/components/navigation/Links.astro";
import Pages from "src/components/navigation/Pages.astro";
import Search from "src/components/navigation/Search.astro";
import Theme from "src/components/navigation/Theme.astro";
import type { TPages } from "src/types";

const pages = {
  Home: "/",
  Posts: "/posts",
};

const socials = {
  tg: "",
  gmail: "",
  github: "",
};

interface Props {
  activeNav?: TPages;
}

const { activeNav } = Astro.props;
---

<header>
  <nav class="text-md py-6">
    <Burger pages={pages} socials={socials} />
    <div class="hidden items-center justify-between sm:flex">
      <Links socials={socials} />
      <ul class="flex gap-5">
        <Pages pages={pages} activeNav={activeNav} />
        <Search />
        <Theme />
      </ul>
    </div>
  </nav>
  <hr class="border-border opacity-50" />
</header>
