---
import ButtonLink from "src/components/ButtonLink.astro";
import Burger from "src/components/Burger.astro";
import Icon from "src/components/Icon.astro";
const delimiters = [
  " ",
  ",",
  ".",
  "/",
  "\\",
  "|",
  "^",
  "&",
  ">",
  "<",
  "_",
  "~",
  "%",
  "+",
];
const randomDelimeter =
  delimiters[Math.floor(Math.random() * delimiters.length)];

const links = {
  Home: "/",
  Posts: "/posts",
};

const socials = { tg: "", gmail: "", github: "" };

const isNotLast = (i: number, obj: {}) => i !== Object.keys(obj).length - 1;

const groupedLinks = { ...links, ...socials };
---

<nav class="py-4 font-bold">
  <Burger links={groupedLinks} />
  <div class="justify-between hidden sm:flex items-center">
    <div class="group relative">
      <p
        class="text-pur-to-red opacity-100 group-hover:opacity-0 transition-opacity duration-300"
      >
        Links {">>>"}
      </p>
      <ul
        class="flex items-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute top-0 left-0"
      >
        {
          Object.entries(socials).map(([label, href], i) => {
            return (
              <a class="px-1" href={href}>
                <Icon icon={label} />
              </a>
            );
          })
        }
      </ul>
    </div>
    <ul class="flex items-center">
      {
        Object.entries(links).map(([label, href], i) => {
          return (
            <>
              <ButtonLink href={href} label={label} aClass="text-pur-to-red" />
              {isNotLast(i, links) && (
                <p class="w-5 text-center text-pur-to-red">{randomDelimeter}</p>
              )}
            </>
          );
        })
      }
    </ul>
  </div>
</nav>
<script></script>
