---
import ButtonLink from "src/components/ButtonLink.astro";

const delimiters = [
  " ",
  ",",
  ".",
  "/",
  "\\",
  "|",
  "^",
  "&",
  ">",
  "<",
  "_",
  "~",
  "%",
  "+",
];

const randomDelimeter =
  delimiters[Math.floor(Math.random() * delimiters.length)];

const links = {
  Home: "/",
  Blog: "/blog",
};

const socials = { Telegram: "", Gmail: "", Mail: "" };

const isNotLast = (i: number, obj: {}) => i !== Object.keys(obj).length - 1;
---

<nav class="flex justify-between py-4">
  <div class="flex items-center">
    {
      Object.entries(socials).map(([label, href], i) => {
        return (
          <>
            <ButtonLink href={href} label={label} />
            {isNotLast(i, socials) && (
              <p class="w-5 text-center">{randomDelimeter}</p>
            )}
          </>
        );
      })
    }
  </div>
  <div class="flex items-center">
    {
      Object.entries(links).map(([label, href], i) => {
        return (
          <>
            <ButtonLink href={href} label={label} />
            {isNotLast(i, links) && (
              <p class="w-5 text-center">{randomDelimeter}</p>
            )}
          </>
        );
      })
    }
  </div>
</nav>
