---
import ButtonLink from "src/components/ButtonLink.astro";

const delimiters = [
  " ",
  ",",
  ".",
  "/",
  "\\",
  "|",
  "^",
  "&",
  ">",
  "<",
  "_",
  "~",
  "%",
  "+",
];

const randomDelimeter =
  delimiters[Math.floor(Math.random() * delimiters.length)];

const links = {
  Home: "/",
  Posts: "/posts",
};

const socials = { Telegram: "", Gmail: "", Mail: "" };

const isNotLast = (i: number, obj: {}) => i !== Object.keys(obj).length - 1;
---

<nav class="py-4">
  <div class="text-right">
    <div class="h-[24px] sm:hidden relative">
      <button class="hamburger hamburger--vortex" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <ul id="menu" class="absolute right-0 bg-teal-100 flex-col hidden">
        {
          Object.entries({ ...links, ...socials }).map(([label, href], i) => {
            return (
              <ButtonLink
                href={href}
                label={label}
                aClass="text-sm px-5 py-1"
              />
            );
          })
        }
      </ul>
    </div>
  </div>

  <div class="justify-between hidden sm:flex">
    <ul class="flex items-center">
      {
        Object.entries(socials).map(([label, href], i) => {
          return (
            <>
              <ButtonLink href={href} label={label} aClass="text-sm" />
              {isNotLast(i, socials) && (
                <p class="w-5 text-center">{randomDelimeter}</p>
              )}
            </>
          );
        })
      }
    </ul>
    <ul class="flex items-center">
      {
        Object.entries(links).map(([label, href], i) => {
          return (
            <>
              <ButtonLink href={href} label={label} />
              {isNotLast(i, links) && (
                <p class="w-5 text-center">{randomDelimeter}</p>
              )}
            </>
          );
        })
      }
    </ul>
  </div>
</nav>
<script>
  document.addEventListener("astro:page-load", () => {
    const burger = document.querySelector(".hamburger");
    const menu = document.getElementById("menu");

    burger?.addEventListener("click", () => {
      burger?.classList.toggle("is-active");
      if (menu?.classList.contains("flex")) {
        menu?.classList.replace("flex", "hidden");
      } else {
        menu?.classList.replace("hidden", "flex");
      }
    });
    document.addEventListener("click", (e) => {
      if (
        menu &&
        burger &&
        menu?.classList.contains("flex") &&
        !menu.contains(e.target as Node) &&
        !burger.contains(e.target as Node)
      ) {
        menu?.classList.replace("flex", "hidden");
        burger?.classList.toggle("is-active");
      }
    });
  });
</script>
